<%- include("./partials/header.ejs", {title: "about__page"}) %>
    <section class="about__page">
        <h2 class="about__title">Qui sommes-nous ?</h2>
        <div class="about__image">
        <p>Image ou logo ici</p>
        </div>
        <div class="about__text">
        <p class="about__text--container">
            TCA (Transport Public TRANSCO Assistance) est un système dédié à la gestion des informations sur les lignes de 
            transport public dans la ville de Kinshasa. Notre objectif est de fournir une plateforme claire et accessible 
            pour aider les usagers de TRANSCO à planifier leurs déplacements en toute simplicité.
        </p>
        <p class="about__text--container">
            Avec plus de 52 lignes actives, TRANSCO dessert des milliers de passagers chaque jour. Notre plateforme vous 
            permet de consulter les itinéraires, les arrêts et de recevoir des informations en temps réel pour rendre vos 
            déplacements plus efficaces et agréables.
        </p>
        </div>
    </section>
<%- include("./partials/publicite.ejs") %>
<%- include("./partials/footer.ejs") %>
