/* Variables globales */
  :root {
    --blue: #0056b3;
    --red: #d62828;
    --yellow: #fcbf49;
    --white: #ffffff;
    --gray: #cfcfcf;
    --black: #000000;
  }
  
  /* Réinitialisation */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
    line-height: 1.6;
  }
  
  /* HEADER */
  .header {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header__logo {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .nav__menu {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 40px;
  }
  
  .menu__container{
    background-color: var(--blue);
    border: none;
    color: var(--white);
    width: 25%;
    height: 95%;    
    border-radius: 10px;
    text-align: center;
  }
  
  .menu__container:hover, .sign__in:hover {
    background-color: var(--red);
  }

  .sign__in{
    background-color: var(--yellow);
  }
  
  .header__burger {
    display: none;
  }

  .header__search--area{
    border-radius: 5px;
    width: 40%;
    height: 40px;
  }
  
  .header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 95%;
  }
  
  .header__search input {
    border: none;
    width: 84%;
    height: 95%;
    outline: none;
  }
  
  .header__search button {
    height: 95%;
    width: 15%;
    padding: 5px;
    border: none;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search__list{
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    flex-direction: column;
    max-height: 200px; /* Limite la hauteur maximale */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
  }

  .search__result:hover{
    background-color: var(--yellow);
  }
  
  /* FOOTER */
  .footer {
    background-color: var(--white);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .footer__container{
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 95%;
    padding: 1rem;
  }

  .footer__container a{
    color: var(--white);
    text-decoration: none;
  }

  .footer__links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer__social{
    display: flex;
    gap: 1rem;
  }

  .footer__social a{
    width: 50px;
    height: 50px;
  }

  .footer__social svg{
    width: 100%;
    height: 100%;
  }
  
  /* CONTENU DE LA PAGE D'ACCUEILLE */
  .home__welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .home__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80%;
    border-radius: 10px;
    background-image: url(../images/Transco_1.png);
    background-size: cover;
    background-position: center;
    color: var(--white);
  }

  .home__text p { 
    font-size: 0.7rem;
  } 
  
  .home__about {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .home__about div {
    width: 600px;
    height: 75%;
    border-radius: 10px;
    padding: 3rem 1rem;
    gap: 1rem;
    background-color: var(--white);
    align-items: center;
  }

  .home__about--title {
    font-size: 1.5rem;
    text-align: center;
  }

  .home__about--text{
    font-size: 0.7rem;
    text-align: justify;
    width: 48%;
    display: inline-block;
    padding: 1rem;
  }

  .home__lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 300px;
  }

  .home__lines--div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--blue);
    color: var(--white);
  }

  .home__lines--image {
    width: 30%;
    height: 200px;
    border-radius: 10px;
  }

  .home__lines--container {
    width: 50%;
    gap: 1rem;
    text-align: center;
  }

  .home__lines--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
  }

  .home__lines--list div{
    width: 50%;
    height: 45%;
    gap: 1rem;
    border-radius: 20px;
    border: 2px solid var(--black);
    background-color: var(--white);
    color: var(--black);
  }

  .home__info{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 300px;
  }

  .home__info--container{
    background-color: var(--white);
    width: 600px;
    border-radius: 10px;
    padding: 1rem;
  }

  .info--container{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .info--containerD{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
  }

  .info--containerDiv p{
    font-size: 0.7rem;
  }

  .home__info--inscription{
    display: none;
  }

  .home__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 300px;
  }

  .home__container--text{
    width: 600px;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
  }

  .home__container--text div{
    gap: 1rem;
    width: 70%;
  }

  .home__container--text div h3{
    font-size: 1.5rem;
  }

  .home__container--text div p{
    font-size: 0.7rem;
    text-align: justify;
  }

  .home__container--img{
    width: 30%;
    height: 80%;
    border-radius: 10px;
  }
  
/*CONTENUE DE LA PAGE LIGNES LIST*/
  .lines__page{
    background-color: var(--blue);
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem; 
    display: none;
  }

  .lines__page--container{
    background-color: var(--white);    
    height: 600px;
  }

  .lines__list{
    width: 35%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .lines__list h2{
    text-align: center;
  }

  .list__container{
    width: 80%;
    gap: 0.5rem;
    border-radius: 10px;
    text-align: center;
  }

  .list__container:hover{
    background-color: var(--yellow);
  }

  .list__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .lines__details{
    width: 60%;
    overflow-y: auto;
  }

  .lines__details--container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .details__line{
    width: 100%;
    height: 100%;
    display: none;
  }

  .details__line--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 90%;
    overflow-y: auto;
  }

  .details__line--map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
  }

  .details__line--map iframe{
    width: 100%;
    height: 100%;
    border: none;
  }

  .details__line button{
    background-color: var(--red);
    border: none;
    border-radius: 10px;
    height: 30px;
  }
  
/* CONTENUE DE LA PAGE CONTACT*/
  .contact__page{
    background-color: var(--white);
    width: 100%;
    height: 400px;
    padding: 1rem 2rem; 
    gap: 1rem;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .contact__page form{
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 10px;
    padding: 1rem 15%;
  }

  .contact__page form label{
    color: var(--white);
  }

  .contact__page form input{
    width: 300px;
    height: 30px;
    color: var(--black);
  }

  .contact__page form textarea{
    width: 300px;
    height: 100px;
  }

  .contact__page form button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--red);
  }

/* CONTENUE DE LA PAGE ABOUT*/
  .about__page{
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    display: none;
  }

  .about__image{
    width: 600px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Transco_1.png);
    background-size: cover;
    background-position: center;
    color: var(--red);

  }

  .about__text{
    width: 600px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    text-align: justify;
  }

/* CONTENUE DES PUBLICITES */
  .ads{
    background-color: var(--blue);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ads div{
    width: 600px;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Transco_3.jpeg);
    background-size: cover;
    background-position: center;
    color: var(--red);
    
  }

  /* RESPONSIVITÉ */
  @media (max-width: 768px) {
    /* HEADER */
    .nav__menu {
      display: none;
      flex-direction: column;
      background-color: var(--blue);
      position: absolute;
      top: 100%;
      right: 0;
      width: fit-content;
      height: fit-content;
    }

    .footer nav{
      display: flex;
      position:initial;
      top: initial;
      right: initial;
    }

    .menu__container, .sign__in {
      color: var(--white);
      width: fit-content;
      height: 40px;    
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .header__burger {
      cursor: pointer;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }

    /* CONTENU DE LA PAGE D'ACCUEILLE */
    .home__lines--image, .home__container--img{
      display: none;
    }

    .home__lines--container {
      width: 80%;
      gap: 1rem;
      text-align: center;
    }

    /*CONTENUE DE LA PAGE LIGNES LIST*/
    .lines__page{
      padding: 2rem 2rem; 
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      display: none;
    }

    .lines__list{
      width: 80%;
      height: 200px;
      border-radius: 10px;
      align-items: center;
    }

    .lines__details{
      width: 95%;
      height: 400px;
      border-radius: 10px;
    }

    .details__line{
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
    }

    .details__line--container{
      width: 80%;
      height: 200px;
    }

    .details__line--map{
      width: 95%;
      height: 400px;
    }
  }